<%- include('./partials/header') %>

<main class="container py-4">

  <h1>Thèmes</h1>

  <div>

    <%tags.map(tag=> {%>

    <span class="badge bg-primary p-2 mb-1"><%=tag.name%></span>
    <ul>
      <% tag.quizzes.map(quizze=> { %>
      <li><a href="/quiz/<%=quizze.id%>"><%=quizze.title%></a></li>
      <%})%>

    </ul>

    <%})%>
  
  </div>

</main>

<%- include('./partials/footer') %>
